@use 'partials/variables';
@use 'partials/mixins' as mixins;

footer{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    letter-spacing: 1px;
    padding: 4rem;
}